body, html{
    margin: 0;

    font-size: 16px;
    line-height: 1.5em;
    font-family: "Lato", sans-serif;
    height:100%;
    background-color: rgb(97, 88, 88);
    color:rgb(14, 31, 25);
}
.img1{
background-image: url(back.jfif) ;
min-height: 700px;
}
.img2{
    background-image: url(background.jfif) ;
    min-height: 700px;
    }
    .img3{
        background-image: url(foodm.jpg) ;
        min-height: 700px;
        }

.img1,
.img2,
.img3{
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}
.text{
    position:absolute;
    top:50%;
    width: 100%;  
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    color: blueviolet;
    text-transform: uppercase;
    background-size:0%;
}
.textbg{

    color:aliceblue;
    background: rgb(54, 43, 47);
    padding: 15px;
}
.head{
    font-size: 35px;
    text-align: center;
}